<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteBlank.master.cs"
    Inherits="PropertyOneAppWeb.SiteBlank" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PropertyOne Onlinepay</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <link rel="stylesheet" href="/js/bootgrid/jquery.bootgrid.css" />
    <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/js/AmazeUI/assets/css/amazeui.css" />
    <link rel="stylesheet" href="/Css/Site.css" />
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script type="text/javascript" src="/js/jQuery/jquery-3.2.1.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8]>
    <script src="/js/jQuery/jquery-1.11.1.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/AmazeUI/assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/AmazeUI/assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="/js/bootgrid/jquery.bootgrid.min.js"></script>
    <script type="text/javascript" src="/js/SiteJScript.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
