<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <!-- 系统的登录类型 后台用户登录-S || 租约用户登录-C -->
    <add key="logintype" value="S"/>

    <!-- 通过Exchange发送邮件设置 -->
    <!-- 发件人显示名称 -->
    <add key="mail_from" value="onlinepayment@hwpg.com"/>
    <!-- Exchange服务器 -->
    <add key="mail_host" value="172.21.112.164"/>
    <!-- Exchange用户名 -->
    <add key="mail_username" value="onlinejob@hwpg.com"/>
    <!-- Exchange密码 -->
    <add key="mail_psw" value="T1$965Bo"/>
    <!-- 接口链接地址 -->
    <add key="api_url" value="http://172.21.112.74/PropertyApp/AppHandler.ashx?"/>

    <!-- 数据库链接 -->
    <add key="ConnStrLocal"
      value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.21.112.74)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = pms)));User Id=poneapp;password=pms123;Persist Security Info=True"/>

    <!-- 上传图片的路径 -->
    <add key="PathUploadImage" value="172.21.112.74\Upload"/>
    <add key="WebsiteUserName" value="SHHQ-SVR-00015\testpone"/>
    <add key="WebsitePsw" value="1qazxsw@"/>

    <!-- 前台站点 -->
    <add key="WebsiteAddress" value="http://172.21.112.74:90"/>

  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms timeout="600" slidingExpiration="true" loginUrl="LoginSystem.aspx" defaultUrl="/system/Homepage.aspx" cookieless="UseCookies"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="LoginSystem.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="X-Requested-With"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>