<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 系统的登录类型 后台用户登录-S || 租约用户登录-C -->
    <add key="logintype" value="C"/>
    <!-- 接口用户ID -->
    <add key="from" value="UT"/>
    <!-- HMAC sha1算法的private key -->
    <add key="private_key" value="123456"/>
    <!-- 接口链接地址 -->
    <add key="api_url" value="http://172.21.112.74/PropertyApp/AppHandler.ashx?"/>

    <!-- iPGClientCOM Config文件位置 -->
    <!-- PassPhrase1:1111    PassPhrase2:2222 -->
    <!-- <add key="com_config" value="C:\\Program Files (x86)\\iPG-Client\\conf\\ipgclient.properties"/> -->
    <add key="com_config" value="C:\\Program Files\\iPG-Client\\conf\\ipgclient.properties"/>
    <!-- GenDO.asp所在位置 -->
    <add key="com_gendo" value="http://172.21.115.43/iPGClient/GenDO.asp"/>
    <!-- is the merchant ID of the sub-merchant assigned by EPSCO -->
    <add key="com_merchantid" value="019100001"/>
    <!-- is the 3-digit Transaction code assigned by EPSCO -->
    <add key="com_txcode" value="351"/>

    <!-- 通过Exchange发送邮件设置 -->
    <!-- 发件人显示名称 -->
    <add key="mail_from" value="onlinepayment@hwpg.com"/>
    <!-- Exchange服务器 -->
    <!--<add key="mail_host" value="172.21.112.164"/>-->
    <add key="mail_host" value="172.21.112.74"/>
    <!-- Exchange用户名 -->
    <add key="mail_username" value="onlinejob@hwpg.com"/>
    <!-- Exchange密码 -->
    <add key="mail_psw" value="T1$965Bo"/>

  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms timeout="600" slidingExpiration="true" loginUrl="Login.aspx" defaultUrl="/Web/Homepage.aspx" cookieless="UseCookies"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="X-Requested-With" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>