<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <!-- 表示是否为demo模式 0=否；1=是 -->
    <add key="demo" value="1" />
    
    <!-- 标识是否为开发环境1=是；0=否。（在含有发送邮件的业务场景下，为“0”时会真正发送出去）-->
    <add key="dev" value="1" /> 
    
    <!-- 默认语言(取值范围:en-US,zh-CHS)-->
    <add key="defaultLang" value="en-US" />
    
    <!-- 页面title设置 -->
    <add key="docTitle" value="eAgents HK" />
    
    <!-- 系统的登录类型 后台用户登录-S || 租约用户登录-C -->
    <add key="logintype" value="S" />
    <!-- 配置bcc邮箱，多个邮箱要逗号隔开 -->
    <add key="bcc" value="info@hutchisoneagents.com , kinli@hpgl.com" />
    
    <!-- 通过Exchange发送邮件设置 -->
    <!-- 发件人显示名称 -->
    <add key="mail_from" value="onlinepayment@hwpg.com" />
    <!-- Exchange服务器 -->
    <add key="mail_host" value="172.21.112.164" />
    <!-- Exchange用户名 -->
    <add key="mail_username" value="onlinejob@hwpg.com" />
    <!-- Exchange密码 -->
    <add key="mail_psw" value="T1$965Bo" />
    
    <!-- 接口链接地址 -->
    <add key="api_url" value="http://172.21.112.74/PropertyApp/AppHandler.ashx?" />
    <!-- 接口用户ID -->
    <add key="from" value="UT" />
    <!-- HMAC sha1算法的private key -->
    <add key="private_key" value="123456" />

    <!-- PropertyOne远程oracle连接字符串(A sample:"Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=hwpl-svr-00269)(PORT=1521))(CONNECT_DATA=(Service_name=orcl.hwpg.net)));User Id=pmsotto;Password=pms123;")-->
    <add key="oracleConnString" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=hwpl-svr-00269)(PORT=1521))(CONNECT_DATA=(Service_name=orcl.hwpg.net)));User Id=pmsprod;Password=pms123;" />

    <!-- 数据库链接(本地数据库“poneapp”) -->
    <add key="ConnStrLocal" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.21.112.74)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = pms)));User Id=poneapp;password=pms123;Persist Security Info=True" />
    <!--<add key="ConnStrLocal" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = hwpl-svr-00105)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = pms)));User Id=eagents;password=dd7emt;Persist Security Info=True"/>-->
    <!--<add key="ConnStrLocal" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.21.108.57)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = PMS.sz.hwpg.net)));User Id=EAGENTSZMH;password=Szgz755;Persist Security Info=True" />-->
    <!--<add key="ConnStrLocal" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.21.108.57)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = PMS.sz.hwpg.net)));User Id=EAGENTTJ;password=Tjea22;Persist Security Info=True" />-->
    <!--<add key="ConnStrLocal" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.21.108.57)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = PMS.sz.hwpg.net)));User Id=EAGENTSHMLZ;password=Mlzsh21;Persist Security Info=True" />-->
    <!--<add key="ConnStrLocal" value="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.21.108.57)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = PMS.sz.hwpg.net)));User Id=EAGENTWH;password=Whhb29;Persist Security Info=True" />-->

    <!-- 前台站点(web端) 供系统后台人员使用-->
    <add key="WebsiteAddress" value="http://172.21.112.74:91" />
    <!-- 前台站点(mobile端内网访问) -->
    <add key="WebSiteAddrMobile" value="http://172.21.112.74:92" /> <!-- 测试地址：http://172.21.112.74:92， 临时手机访问地址：http://172.21.111.108:836 -->
    <!-- 前台站点(外网中间层url,用于文件传输) -->
    <add key="transUrl" value="http://172.21.108.147:801/transfer.ashx" /> 
    <!-- 用来生成发送给前台用户邮件里的链接（只需要虚拟web根目录) -->
    <add key="TenantMailUrl" value="http://172.21.111.108:836" /> <!-- http://202.82.86.38:836 -->
    
    <!-- 推送服务url -->
    <add key="PushUrl" value="http://172.21.111.108:836/WebService.asmx/pushNotification" />
    <!-- keep iis alive url -->
    <add key="vpath" value="http://localhost/eagentsadmin/loginsystem.aspx"/>
    
    <!-- feedback summary report 发送间隔(单位：天)-->
    <add key="fbInterval" value="14" />
    
    <!-- EAgent_BatchInformStaff_NTC_EFM 发送计划 -->    
    <add key="dailySchedule4Ntc_Efm" value="13:56" />
    <!-- EAgent_BatchInformStaff_NTC_EFM 发送计划开关（1=开启；0=关闭） -->
    <add key="dailyScheduleToggle4Ntc_Efm" value="0"/>
    
  </appSettings>
  <system.web>   
    <authentication mode="Forms">
      <forms timeout="5" slidingExpiration="true" loginUrl="/eagentsAdmin/LoginSystem.aspx" defaultUrl="/system/Homepage.aspx" cookieless="UseCookies" path="/" />
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="On" defaultRedirect="ApplicationErroy.aspx">
      <error statusCode="403" redirect="/403.html" />
      <error statusCode="404" redirect="/404.html" />
      <error statusCode="500" redirect="/eAgentsAdmin/500.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="LoginSystem.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <clear />
      <error statusCode="404" responseMode="Redirect" path="/404.html" />
      <error statusCode="403" responseMode="ExecuteURL" path="/403.html" />
      <error statusCode="500" responseMode="Redirect" path="/eagentsadmin/500.html" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="X-Requested-With" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".sql" mimeType="text/plain" />
        </staticContent>
  </system.webServer>
</configuration>