<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />    
    <link rel="Stylesheet" href="../../js/bootstrap-4.3.1-dist/css/bootstrap.min.css" media="screen,print" />    
    <link rel="stylesheet" href="../../js/font-awesome-4.7.0/css/font-awesome.min.css" />
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script type="text/javascript" src="../../js/jQuery/jquery-3.2.1.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8]>
    <script src="/js/jQuery/jquery-1.11.1.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/AmazeUI/assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->    
    <script type="text/javascript" src="../../js/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>   
    <script src="../../js/vue.js" type="text/javascript"></script>
    <script src="../../js/vue-resource.min.js" type="text/javascript"></script>     
    <script src="../../js/SiteJScript.js" type="text/javascript"></script> 
    <title>Form B</title>
    <style type="text/css">
        .eform-input{
            border-top:0px;
            border-left:0px; 
            border-right:0px; 
            border-color:#000033;
            border-radius:0px;
        }         
        .eform-input-noborder{
            border-top:0px;
            border-left:0px; 
            border-right:0px; 
            border-bottom:0px;            
        }
        
        .sub-tbl {
        	font-size:small;        	
        }        
         
        .bg-yellow{
            background-color:#FFFF66;
        }
        .sub-tbl tr th {
        	border-bottom-width: 0.125rem; 
        	border-bottom-color: black;
        	border-right-width: 0.125rem;             
        	border-right-color:black;
        }
        
        .sub-tbl tr td
        {
        	border-bottom-width: 0.125rem; 
        	border-bottom-color: black;
        	border-right-width: 0.125rem;             
        	border-right-color:black;
        }
        
        @media print
        {
        	.container{
        		width:649px;
        		height:978px;
        		}
        		
        	#cmds{
        		display:none;
        		}
        }
    </style>
</head>
<body>
    <div class="container" id="vu-det">
        <div class="row">
            <div class="col-12">
                <h6 class="text-right">Form B</h6>                
                <h4 class="text-center">CHEUNG KONG CENTER</h4> 
                <h5 class=" text-justify">APPLICATION FOR TURNSTILE SYSTEM, PASSENGER LIFT & TOILET SECURITY ACCESS CARDS</h5>            
                <div v-html="dom.htmls.FORM_HEADER_HTML"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="chk-new-app"
                        :checked="dom.loaded?dom.controls.New_Application.fmdt_value=='Y'?true:false:false"
	                    :disabled="dom.loaded?isReadonly(dom.controls.New_Application.field_editctrl):false" />
                    <label class="custom-control-label" for="chk-new-app">{{dom.loaded?dom.controls.New_Application.field_dispen:''}}</label>
                </div>
            </div>
            <div class="col-3">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="chk-change"
                        :checked="dom.loaded?dom.controls.Change_Access.fmdt_value=='Y'?true:false:false"
	                    :disabled="dom.loaded?isReadonly(dom.controls.Change_Access.field_editctrl):false" />
                    <label class="custom-control-label" for="chk-change">{{dom.loaded?dom.controls.Change_Access.field_dispen:''}}</label>
                </div>
            </div>
            <div class="col-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="chk-deactive"
                        :checked="dom.loaded?dom.controls.Deactivation.fmdt_value=='Y'?true:false:false"
	                    :disabled="dom.loaded?isReadonly(dom.controls.Deactivation.field_editctrl):false" />
                    <label class="custom-control-label" for="chk-deactive">{{dom.loaded?dom.controls.Deactivation.field_dispen:''}}</label>
                </div>
            </div>
            <div class="col-1">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="Checkbox1"
                        :checked="dom.loaded?dom.controls.Others.fmdt_value=='Y'?true:false:false"
	                    :disabled="dom.loaded?isReadonly(dom.controls.Others.field_editctrl):false" />
                    <label class="custom-control-label" for="chk-deactive">{{dom.loaded?dom.controls.Others.field_dispen:''}}</label>
                </div>                
            </div>   
            <div class="col-3">
                 <input type="text" class="form-control form-control-sm eform-input" 
                    :value="dom.loaded?dom.controls.Others_Content.fmdt_value:''"
	                :readonly="dom.loaded?isReadonly(dom.controls.Others_Content.field_editctrl):false" />
            </div>         
        </div>  
        
        <div class="form-group row">
            <label for="input-tenant" class="col-sm-2 col-form-label col-form-label-sm">{{dom.loaded?dom.controls.Tenant.field_dispen:''}}:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control form-control-sm eform-input" id="input-tenant" 
                    :value="dom.loaded?dom.controls.Tenant.fmdt_value:''" 
                    :readonly="dom.loaded?isReadonly(dom.controls.Tenant.field_editctrl):false" />
            </div>

            <label for="input-floor-suite" class="col-sm-2 col-form-label col-form-label-sm">{{dom.loaded?dom.controls.Floor_Suite.field_dispen:''}}:</label>
            <div class="col-sm-3">                
                <textarea class="form-control form-control-sm eform-input wrap" id="txt-floor-suite" rows="1" 
                    style="overflow:hidden; resize: none;"
                    :value="dom.loaded?dom.controls.Floor_Suite.fmdt_value:''"
                    :readonly="dom.loaded?isReadonly(dom.controls.Floor_Suite.field_editctrl):false">                   
                </textarea>         
            </div>
        </div>

        <div class="form-group row">
            <label for="input-contact-person" class="col-sm-2 col-form-label col-form-label-sm">{{dom.loaded?dom.controls.Contac_Person.field_dispen:''}}:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control form-control-sm eform-input" id="input-contact-person" 
                    :value="dom.loaded?dom.controls.Contac_Person.fmdt_value:''"
                    :readonly="dom.loaded?isReadonly(dom.controls.Contac_Person.field_editctrl):false" />
            </div>
            <label for="input-tel-no" class="col-sm-2 col-form-label col-form-label-sm">{{dom.loaded?dom.controls.Tel_No.field_dispen:''}}:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control form-control-sm eform-input" id="input-tel-no" 
                    :value="dom.loaded?dom.controls.Tel_No.fmdt_value:''"
                    :readonly="dom.loaded?isReadonly(dom.controls.Tel_No.field_editctrl):false" />
            </div>
        </div>     

        <!-- 表格 -->
        <table class="table table-bordered table-sm sub-tbl" style="border:0.13rem solid black" >
            <thead class="text-center"  >
                <tr class="text-sm-center sub-title" style="background-color:#990000;color:#FFFFFF;" >
                    <th  colspan="12" style="border-bottom-width: 0.13rem; border-bottom-color:black">
                        {{dom.loaded && dom.subctrls.Sub_Tilte ?dom.subctrls.Sub_Tilte.field_dispen:''}}
                    </th>
                </tr>
                <tr class="bg-yellow">
                    <th rowspan="2" class="align-middle" style="width:10%">
                        {{dom.loaded && dom.subctrls.No_Card ?dom.subctrls.No_Card.field_dispen:''}}                        
                    </th>
                    <th rowspan="2" class="align-middle" style="width:12%">
                        {{dom.loaded && dom.subctrls.Card_No ?dom.subctrls.Card_No.field_dispen:''}}           
                    </th>
                    <th rowspan="2" class="align-middle"> 
                        {{dom.loaded && dom.subctrls.Floor ?dom.subctrls.Floor.field_dispen:''}}     
                    </th>
                    <th colspan="8">
                       {{dom.loaded && dom.subctrls.Access_Profile ?dom.subctrls.Access_Profile.field_dispen:''}}       
                    </th>
                    <th rowspan="2" class="align-middle" style="width:20%">
                        {{dom.loaded && dom.subctrls.Office_Use ?dom.subctrls.Office_Use.field_dispen:''}}    
                    </th>                   
                </tr>
                <tr class="bg-yellow">
                    <th style="width:5%">
                        {{dom.loaded && dom.subctrls.Male_Exec ?dom.subctrls.Male_Exec.field_dispen:''}}
                    </th>
                    <th style="width:5%">
                        {{dom.loaded && dom.subctrls.Male ?dom.subctrls.Male.field_dispen:''}}
                    </th>
                    <th>
                        {{dom.loaded && dom.subctrls.Female_Exec ?dom.subctrls.Female_Exec.field_dispen:''}}
                    </th>
                    <th>
                        {{dom.loaded && dom.subctrls.Female ?dom.subctrls.Female.field_dispen:''}}
                    </th>
                    <th>
                        {{dom.loaded && dom.subctrls.Disable ?dom.subctrls.Disable.field_dispen:''}}
                    </th>
                    <th>
                        {{dom.loaded && dom.subctrls.Turnstile_Gate ?dom.subctrls.Turnstile_Gate.field_dispen:''|noUL}}
                    </th>
                     <th>
                        {{dom.loaded && dom.subctrls.Passenger_Lift ?dom.subctrls.Passenger_Lift.field_dispen:'' |noUL}}
                    </th>
                     <th style="width:15%">
                        {{dom.loaded && dom.subctrls.Access_Others ?dom.subctrls.Access_Others.field_dispen:'' |noUL}}    
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in dom.subdata.rows">
                    <td>{{row.cols.No_Card.fmdt_value}}</td>
                    <td>{{row.cols.Card_No.fmdt_value}}</td>
                    <td>{{row.cols.Floor.fmdt_value}}</td>
                    <td>{{row.cols.Male_Exec.fmdt_value}}</td>
                    <td>{{row.cols.Male.fmdt_value}}</td>

                    <td>{{row.cols.Female_Exec.fmdt_value}}</td>
                    <td>{{row.cols.Female.fmdt_value}}</td>
                    <td>{{row.cols.Disable.fmdt_value}}</td>
                    <td>{{row.cols.Turnstile_Gate.fmdt_value}}</td>
                    <td>{{row.cols.Passenger_Lift.fmdt_value}}</td>
                    <td>{{row.cols.Access_Others.fmdt_value}}</td>
                    <td>
                        <textarea class="eform-input-noborder office-use wrap" rows="1"
                            style="overflow:hidden; resize: none;"
                            :fmdt_id="row.cols.Office_Use.fmdt_id" 
                            :field_id="row.cols.Office_Use.field_id" 
                            :value="row.cols.Office_Use.fmdt_value">
                        </textarea>
                     </td>                    
                </tr>
            </tbody>
            <!--
            <tfoot>
                <tr>
                    <td colspan="11">
                        Card access will be required at the following times.(Time will be subject to change)
                    </td>
                </tr>
                <tr>
                    <td>Turnstile Gate</td>
                    <td colspan="10">24 hours Daily (incl. Sundays & Public Holidays)</td>
                </tr>
                <tr>
                    <td>Passenger Lifts</td>
                    <td colspan="4">
                       Mondays – Fridays<br/>
                       Saturdays<br/>
                       Sundays & Public Holidays
                    </td> 
                    <td colspan="6">
                        Before 7:00 a.m. and after 7:00 p.m.<br/>
                        Before 7:00 a.m. and after 2:00 p.m.<br/>
                        24 hours
                    </td>
                </tr>     
                <tr>
                    <td>Toilets</td>
                    <td colspan="10">24 hours Daily (incl. Sundays & Public Holidays)</td> 
                </tr>     
            </tfoot>
            -->
        </table>

        <!-- note-->
        <div class="row">
            <div class="col-12" v-html="dom.htmls.FORM_WAIST_HTML"></div>
        </div>

        <div class="row">
            <div class="col-3">
                {{dom.loaded?dom.controls.Request_By.field_dispen:''}}
            </div>
        </div>

        <div class="row">
            <div class="offset-6"></div>
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control eform-input" 
                        :value="dom.loaded?dom.controls.RBSign_Person.fmdt_value:''"
                        :readonly="dom.loaded?isReadonly(dom.controls.RBSign_Person.field_editctrl):false" />
                    <label for="" >{{dom.loaded?dom.controls.RBSign_Person.field_dispen:''}}</label>
                </div>      
            </div>
        </div>

        <div class="row">
            <div class="offset-6"></div>
            <div class="col-6">
                <div class="form-group">
                    <input type="text" class="form-control eform-input" 
                        :value="dom.loaded?dom.controls.RBSign_Date.fmdt_value:'' | fmtDate"
                        :readonly="dom.loaded?isReadonly(dom.controls.RBSign_Date.field_editctrl):false" />
                    <label for="" >{{dom.loaded?dom.controls.RBSign_Date.field_dispen:''}}</label>
                </div>      
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p class=" bg-dark text-light">For Office Use</p>
            </div>
        </div>

        <!-- Office user input-->
        <div class="row" id="office-user">
            <div class="col-12">
                <table class="table table-bordered table-sm">               
                    <thead>
                        <tr>
                            <th style="width:25%">Operation</th>
                            <th style="width:15%">Last Update By</th>
                            <th style="width:25%">Remarks</th>
                            <th class="reject" style="width:15%" v-if="!hideReject">Reject By</th>
                            <th class="reject" style="width:20%" v-if="!hideReject">Reject Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in dom.flowinfo">
                            <td>{{item.oper_curseq==item.fwde_seq?'*':'&nbsp'}}{{item.fwde_name}}</td>
                            <td>{{item.fmfw_updateby}}/{{item.fmfw_updatedate|fmtDate('m')}}</td>                            
                            <!-- 这里有点复杂，如果再有条件的话，则放到函数里去。-->
                            <td><input type="text" class="form-control form-control-sm eform-input-noborder" :alt="item.fwde_id" :value="item.fmfw_remarks" :readonly="dom.privilege[0]?dom.privilege[0].oper_save=='Y'?item.oper_curseq==item.fwde_seq?false:true:true:true" /></td>
                            <td class="reject" v-if="!hideReject">{{item.fmfw_rejectby}}/{{item.fmfw_rejectdate|fmtDate('m')}}</td>
                            <td class="reject" v-if="!hideReject">{{item.fmfw_rejectreason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>        
        </div>

        <div class="form-group row">        
            <div class="col-6">                
            </div>                
            <div class="col-3">
                <div class="form-group">
                    <label for="input-ref-no" class="col-form-label col-form-label-sm">M.R.Serial Number:</label>
                    <input type="text" class="form-control form-control-sm" id="input-mr-number"  :value="dom.privilege.length>0 ? dom.privilege[0].oper_refno:''" readonly />         
                </div>
            </div>
        </div>

        <!-- attachments -->
        <div class="row">
            <div class="col-6">
                <ul class="list-group">
                  <li class="list-group-item" v-for="item in dom.atchs"><a :href="item.Fmat_FileUrl">{{item.Fmat_FileName}}</a></li>          
                </ul>
            </div>
        </div>

        <!-- footer -->
        <div class="row mb-2">
            <div class="col-12" v-html="dom.htmls.FORM_FOOTER_HTML"></div>
        </div>       

        <div class="row mb-5" style="background-color:Red"></div>

        <!-- command -->
        <div class="row fixed-bottom text-right bg-light" v-if="paras.from!='def'" id="cmds">
            <div class="offset-6 mb-2">
            </div>
            <div class="col-sm-5 mt-2 mb-2">
                <a class="btn btn-secondary" :href="'../eoper.aspx?pidx='+ paras.pidx">Close</a>
                <button class="btn btn-warning" v-on:click="html2pdf($event)">Print PDF</button>
                <button class="btn btn-primary" v-on:click="save($event)" :disabled="dom.loaded && dom.privilege[0]?dom.privilege[0].oper_save=='N':false">Save</button>
                <button class="btn btn-info" v-on:click="submit($event)" :disabled="dom.loaded && dom.privilege[0]?dom.privilege[0].oper_submit=='N':false">Submit</button>
                <button class="btn btn-danger" data-toggle="modal" data-target="#modal-reject" v-on:click="preject" :disabled="dom.loaded && dom.privilege[0]?dom.privilege[0].oper_reject=='N':false">Reject</button>
                <button class="btn btn-success" v-on:click="close($event)" :disabled="dom.loaded && dom.privilege[0]?dom.privilege[0].oper_finish=='N':false">Complete</button>
            </div>            
        </div>   
        
        <!-- 驳回原因提示框 -->
        <div class="modal" tabindex="-1" role="dialog" id="modal-reject">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Hint</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txt-reason">Please input a reason for rejection:</label>
                            <textarea class="form-control" id="txt-reason" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-confirm">Confirm</button>
                    </div>
                </div>
            </div>
        </div>     
    </div>

    <script type="text/javascript">
        var vm = null;
        $(document).ready(function () {
            /// -- start -- vue 应用
            vm = new Vue({
                el: "#vu-det",
                data: {
                    dom: {
                        loaded: false,  // 是否已经加载完毕，加载controls对象有延迟，直接绑定会出错，所以加入此变量用来标识。                        
                        privilege: [],  // get_eform_operations 过程返回，用于按钮权限操作控制（根据derek的设计，始终只有一条数据）
                        flowinfo: [],   // get_eflow_info 过程返回 
                        controls: {},   // 控件列表里有个field_editctrl字段，值定义如下， T:前台用户；S：staff; B:both ； N:disabled
                        subctrls: {},   // 子表schema (form b特有)
                        subdata: {
                            rows: []
                        },    // 子表数据 (form b特有)
                        atchs: [],
                        htmls: {}       // v-html值绑定，用于header，content，footer
                    },
                    lang: "",
                    paras: {
                        fmtbid: 130000,         //常量
                        fmtbcode: "FORM_B",   //常量
                        formid: 0,
                        operid: 0,
                        fwdeseq: 0,
                        loginname: "",
                        groupname: "",
                        refno: "",
                        fmdtid: 0,       //-1:返回子表结构，0：返回所有子表数据, 其他：指定数据
                        pidx: 0,        //跳转源当前页(eoper.aspx)，用户返回源时带出页码
                        from: ""        //来源。 “def”表示定义页
                    }
                },
                computed: {
                    hideReject: function () {
                        for (var i = 0; i < this.dom.flowinfo.length; i++) {
                            if (this.dom.flowinfo[i].fmfw_rejectby) {
                                return false;
                            }
                        }
                        return true;
                    }
                },
                filters: {
                    fmtDate: function (v, m) {     //“日期”过滤器，字符串形式
                        if (m) {
                            return this.vm ? df(v, "yyyy-mm-dd hh:mi") : "";
                        } else
                            return this.vm ? df(v, "yyyy-mm-dd") : "";
                    },
                    noUL: function (v) {
                        if (v) {
                            return v.replace("_", " ");
                        } else
                            return v;
                    }
                },
                created: function () {
                    this.init();
                },
                methods: {
                    init: function () {
                        this.paras.operid = qs(window.location.href, 'operid');
                        this.paras.formid = qs(window.location.href, 'formid');
                        this.paras.loginname = qs(window.location.href, 'loginname');
                        this.paras.groupname = qs(window.location.href, 'groupname');
                        this.paras.from = qs(window.location.href, 'from');
                        this.paras.refno = qs(window.location.href, 'refno');
                        this.paras.fwdeseq = qs(window.location.href, 'fwdeseq');
                        this.paras.pidx = qs(window.location.href, 'pidx');
                        this.lang = qs(window.location.href, 'lang');
                        this.load();
                    },
                    timeout: function () {
                        window.location.href = "../../98.html";
                    },
                    load: function () {
                        var that = this;
                        this.paras["href"] = window.location.href;
                        this.$http.post("../ajax.ashx?act=load", this.paras, { emulateJSON: true }).then(function (res) {
                            if (res.body.err_code != 0) {
                                if (res.body.err_code == -98) {
                                    that.timeout();
                                } else
                                    alert(res.body.err_msg);
                            } else {
                                //这里需要把fields数组转换成哈希列表。注意：告知derek这里的“field_code”必须唯一。                                
                                for (var i = 0; i < res.body.result.fields.length; i++) {
                                    that.dom.controls[res.body.result.fields[i].field_code] = res.body.result.fields[i];
                                }
                                that.dom.htmls = res.body.result.defs[0];
                                that.dom.flowinfo = res.body.result.flowinfo;
                                that.dom.privilege = res.body.result.privilege;
                                that.dom.atchs = res.body.result.atchs;
                                that.dom.subctrls = that.hashing(res.body.result.subctrls, 'field_code');
                                that.dom.subdata = res.body.result.subdata;
                                for (var i = 0; i < res.body.result.subdata.rows.length; i++) {
                                    that.dom.subdata.rows[i].cols = that.hashing(that.dom.subdata.rows[i].cols, "field_code");
                                }
                                that.dom.loaded = true;
                                that.wrapper();
                            }
                        }, function (err) {
                            console.log(err);
                        });

                        //清除一次行数，避免重复加载时计算错误。
                        $("#txt-floor-suite").attr("rows", 1);
                        $("#txt-floor-suite").focus();
                        $("#txt-floor-suite").blur();
                    },
                    wrapper: function () {
                        this.$nextTick(function () {
                            $(".wrap").each(function (x) {
                                $t = $(this);
                                $t.attr("rows", 1);
                                var id = "c" + Math.ceil(Math.random() * 1000 % 1000);
                                var $ve = $("<div></div>").css("word-wrap", "break-word").css("font-size", $t.css("font-size")).attr("id", id); //创建一个临时div，使用目标元素的字体大小
                                $("body").append($ve);  //加入文档流
                                $ve.css("width", $t.width() + "px");   //使用目标元素的宽度
                                $ve.text($t.val());     //临时填值
                                var q = Math.floor($ve.height() / $t.height()); // 计算高度换算为行
                                if (q <= 1) {
                                    $t.attr("rows", 1);
                                } else {
                                    $t.attr("rows", q);
                                }
                                $ve.remove(); //移除临时div
                                $t.focus(); //目标获取焦点
                                $t.blur();  //目标失去焦点，相当于单击一次，为了在IE下生效。
                            });
                        });
                    },
                    hashing: function (arr, key) {
                        var hashed = {}
                        for (var i = 0; i < arr.length; i++) {
                            if (arr[i][key]) {
                                hashed[arr[i][key]] = arr[i];
                            }
                        }
                        return hashed;
                    },
                    save: function (e) {
                        mask(".fixed-bottom", "on");
                        e.target.disabled = true;
                        var that = this;
                        this.paras['remark'] = $("#office-user input[readonly!='readonly']").val();
                        this.paras['fwdeid'] = $("#office-user input[readonly!='readonly']").attr('alt');

                        /// -- start -- 收集子表office use only字段值
                        var subs = []
                        $(".sub-tbl tbody tr td textarea").each(function (i) {
                            var item = {
                                oper_id: that.paras.operid,
                                field_id: $(this).attr("field_id"),
                                fmdt_id: $(this).attr("fmdt_id"),
                                fmdt_value: $(this).val()
                            }
                            subs.push(item);
                        });
                        this.paras["subs"] = JSON.stringify(subs);
                        /// --  end  --

                        this.$http.post("../ajax.ashx?act=save_130000", this.paras, { emulateJSON: true }).then(function (res) {
                            if (res.body.err_code != 0) {
                                if (res.body.err_code == -98) {
                                    that.timeout();
                                } else
                                    alert(res.body.err_msg);
                            } else {
                                if (res.body.result) {
                                    alert('Save success');
                                    that.load();
                                } else {
                                    alert('Save failure');
                                }
                            }
                            e.target.disabled = false;
                            mask(".fixed-bottom", "off");
                        }, function (err) {
                            console.log(err);
                            e.target.disabled = false;
                            mask(".fixed-bottom", "off");
                        });
                    },
                    submit: function (e) {
                        mask(".fixed-bottom", "on");
                        e.target.disabled = true;
                        var that = this;
                        this.paras['remark'] = $("#office-user input[readonly!='readonly']").val();
                        this.paras['fwdeid'] = $("#office-user input[readonly!='readonly']").attr('alt');
                        this.$http.post("../ajax.ashx?act=submit_processed_eform", this.paras, { emulateJSON: true }).then(function (res) {
                            if (res.body.err_code != 0) {
                                if (res.body.err_code == -98) {
                                    that.timeout();
                                } else
                                    alert(res.body.err_msg);
                            } else {
                                if (res.body.result) {
                                    alert('Approval success');
                                    that.load();
                                } else {
                                    alert('Submit failure');
                                }
                            }
                            e.target.disabled = false;
                            mask(".fixed-bottom", "off");
                        }, function (err) {
                            console.log(err);
                            e.target.disabled = false;
                            mask(".fixed-bottom", "off");
                        });
                    },
                    preject: function () {
                        var that = this;
                        $("#btn-confirm").off('click');
                        $("#btn-confirm").on('click', function (e) {
                            e.target.disabled = true;
                            that.paras["reason"] = $("#txt-reason").val();
                            that.$http.post("../ajax.ashx?act=reject_processed_eform", that.paras, { emulateJSON: true }).then(function (res) {
                                if (res.body.err_code != 0) {
                                    if (res.body.err_code == -98) {
                                        that.timeout();
                                    } else
                                        alert(res.body.err_msg);
                                } else {
                                    if (res.body.result) {
                                        alert('Reject success');
                                        that.cleanup();
                                        that.load();
                                    } else {
                                        alert('Reject failure');
                                    }
                                }
                                e.target.disabled = false;
                            }, function (err) {
                                console.log(err);
                            });
                        });
                    },
                    close: function (e) {
                        mask(".fixed-bottom", "on");
                        e.target.disabled = true;
                        var that = this;
                        this.paras['remark'] = $("#office-user input[readonly!='readonly']").val();
                        this.paras['fwdeid'] = $("#office-user input[readonly!='readonly']").attr('alt');
                        this.$http.post("../ajax.ashx?act=close_processed_eform", this.paras, { emulateJSON: true }).then(function (res) {
                            if (res.body.err_code != 0) {
                                if (typeof (res.body.err_code) == "undefined" || res.body.err_code == -98) {
                                    that.timeout();
                                } else
                                    alert(res.body.err_msg);
                            } else {
                                if (res.body.result) {
                                    alert('Completed');
                                    that.cleanup();
                                    that.load();
                                } else {
                                    alert('Can not complete');
                                }
                            }
                            e.target.disabled = false;
                            mask(".fixed-bottom", "off");
                        }, function (err) {
                            console.log(err);
                            e.target.disabled = false;
                            mask(".fixed-bottom", "off");
                        });
                    },
                    cleanup: function () {
                        $("#modal-reject").modal('hide');
                        $("#txt-reason").val("");
                    },
                    test: function () {
                        //e.target.disabled = true;
                    },
                    isReadonly: function (v) {
                        if (v.indexOf('T') >= 0 || v.indexOf('N') >= 0) {
                            return true;
                        } else
                            return false;
                    },
                    html2pdf: function (e) {
                        var that = this;
                        e.target.disabled = true;
                        this.$http.post("../ajax.ashx?act=html2pdf", this.paras, { emulateJSON: true }).then(function (res) {
                            if (res.body.err_code != 0) {
                                if (typeof (res.body.err_code) == "undefined" || res.body.err_code == -98) {
                                    that.timeout();
                                } else
                                    alert("[html2pdf] with error:\r\n" + res.body.err_msg);
                            } else {
                                if (res.body.result.vPath) {
                                    window.open(res.body.result.vPath);
                                }
                            }
                            e.target.disabled = false;
                        });
                    }
                }
            });
            /// --  end  --
        });
    </script>
</body>
</html>
